/.vs
**/obj/**
**/bin/**
**/node_modules/**
DiscordSharperActivities/wwwroot/wrapper.js
DiscordSharperActivities.Testing/wwwroot/wrapper.js
**/out/**
**/dist/**
DiscordSharperActivities.Testing/wwwroot/mock.js
